{% extends "index.html" %}
{% block title %}Edit readings{% endblock %}
{% block content %}

{% if changes %}
{% if changes.error %}<div class="error">{{changes.error}}</div>{% endif %}

{% if changes.passages %}
{% for b in changes.books %}
<ul>
  {% for r in b.readings %}
  <li>
    <a href="{{r.link}}" class="{% if r in changes.passages %}changed{%elif r in changes.cut%}cut{%else%}same{%endif%}{% if r.kids %} kids{% endif %} reading">{{r.linkname}}</a>
    <a class="edit" href="/edit?passage={{r.linkname}}&topics={{r.space_topics}}{% if r.kids %}&kids{% endif %}">{{ r.comma_topics }}</a>
  </li>
  {% endfor %}
</ul>
{% endfor %}

{% endif %}
{% endif %}
<form action="/edit" method="post">
  <ul>
    <li>Passage <input type="text" name="passage" value="{{passage}}" autofocus></li>
    <li><input type="checkbox" name="kids"{% if kids %}checked{% endif %}>Kid-friendly:</li>
    <li>Topics <input type="text" name="topics" value="{{topics}}"></li>
    <li>
  </ul>
  <input type="submit" value="Submit"></li>
</form>
{% endblock %}
