<!DOCTYPE html>
<html>
<head>
  <title>Readings for {{date}}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Today's reading</a></li>
      <li><a href="edit">Edit readings</a></li>
    </ul>
  </nav>
  <main>
    <h1>Readings for {{date}}</h1>

    {% if yesterday is not none %}<a class="previous" href="day-{{yesterday}}">Previous</a>{% endif %}
    <a class="next" href="day-{{tomorrow}}">Next</a>
    <article>
      <a href="{{link}}">{{passage|safe}}</a>
    </article>

  </main>
</body>
</html>
