<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}Readings for {{date}}{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <nav>
    <ul>
      <li><a href="/">Today</a></li>
      <li><a href="/books">Books</a></li>
      <li><a href="/edit">Edit</a></li>
    </ul>
  </nav>
  <main>
    <h1>{{self.title()}}</h1>
{% block content %}
    {% if yesterday is not none %}<a class="previous" href="day-{{yesterday}}">Previous</a>{% endif %}
    <a class="next" href="day-{{tomorrow}}">Next</a>
    <article>
      {% for r in readings %}
      <a class="{% if r.kids %}kids {% endif %}reading" href="{{niv_link}}">{{r.linkname}}</a>
      {% endfor %}
    </article>
{% endblock %}
  </main>
</body>
</html>
